@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url("../fontes/idroid.otf"); 
    font-weight: normal;
}


:root {
        --cor0:#40FF9F;
        --cor1:#F7DFDC;
        --cor2:#B09592;
        --cor3:#228051;
        --cor4:#68C194;

        --font-padrão: arial, verdana, helvetica, sans-serif;

        --font-destaque: "Bebas Neue", sans-serif;
        --font-android: 'android', 'cursive';
}

     *{ margin: 0px;
        padding: 0px;
}




body {
   background-color: #228051
    var(--font-padrão)
    ;
}


a.external::after{
    content: "\00A0\1F517";
}

header {
    
   background-image: linear-gradient(to bottom #45a774 #14c26b;);
    text-align: center;
    color: white;
 background-color:#193a29;
 min-height:150px ;
 padding-top: 40px;

}
 html {
    background-color: var(--cor0);
}


header > h1 {
font-weight: normal;
font-size: 3em;box-shadow: 10px;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px  black;
}
header > p {

    text-shadow: 2px 2px 0px  black;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
nav {
    background-color: #36885e;
    padding: 10px;
    background-color: var(--cor3);
    box-shadow: 0px 7px 7px black;
}
nav {
    background-color: #2f7450;
}
nav > a {
    color: navajowhite;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    transition-duration: 0.5s;

}
nav a:hover {
    background-color: var(--cor4);
}
div.video {
    background-color: #2f7450;
    padding-bottom: 20%;
    margin: 0px -20px;
    padding: 160px;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    border-width: 90%;
    height: 90%;

}

main h1 {
       font-weight: normal;
    color: var(--cor3) ;
    font-family: var(--font-android);
    font-size: 1.8em;
}
main h2{
    font-weight: normal;
    font-size: 1.3em;
    color: #07b65f;
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
}
main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin-bottom: 30px;
    margin: auto
    
}

main img {
    width: 100%;
}
main img.pequena{
    display: block;
    max-width: 350%;
    margin: auto;
}

main  p {
    margin: 15px  0px;
    text-align: justify;
    text-indent: 30px;
   line-height: 2em;
   font-size: 1em;
}
main strong {
    color: var(--cor3);
    font-weight: bold;
    padding:  2px 8px;

}
main a {
    text-decoration: none;
    font-weight:bold;
    color: #2f7450;
    background-color: var(--cor4);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: #40FF9F;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;

}
aside ul {

    list-style-type: "\2714\00A0\0020";
    list-style-position: inside;
    columns: 2;
}
aside > h3 {
    background-color: #228051;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; 
    border-radius: 10px 10px 0px 0px;

}

footer {
    margin: 5px;
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    color: #07b65f;
} 

picture {
    box-shadow: 4px 4px 10px;
}